/**
 * main.scss: css specific to the timetracker-portlet.
 *
 * Created:     2013-10-09 22:44 by Christian Berndt
 * Modified:    2017-07-23 14:09 by Christian Berndt
 * Version:     1.2.5
 * 
 */
@import "bourbon";
@import "mixins";

.container {
    
    .container-fluid-1280 {
        padding-left: 0; 
        padding-right: 0; 
    }
    
    .management-bar {
        .container-fluid-1280 {
            padding-left: 15px; 
            padding-right: 15px; 
        }    
    }
}

.dialog-with-footer {
    
    .button-holder {
        
        &.dialog-footer {
            position: fixed !important;
            bottom: 0 !important;
        }
    }
}
    
.item-remove {
    .taglib-text-icon {    
        &:before {
            content: "\f00d"; 
            font-family: 'fontawesome-alloy';
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            *margin-right: .3em;
            margin-right: .4em;
            speak: none;
            text-decoration: inherit;
            text-transform: none;
        }
    }
}

.portlet-timetracker {
	
	.btn {
		a {
			color: white; 		
		}
	}
    
    .clear-btn {
        margin: 8px 0 8px 8px;
    }
    
    .from-until {
        
        .control-label {
            display: block; 
        }
    
        .lfr-input-time {
            display: block;
            float: left; 
            width: 50%; 
        }    
    }
    
    .lfr-description-column {
        min-width: 0;
    }
    
    .management-bar-header-right {
        .lfr-icon-menu {
            margin: 7px 0 7px 15px;
            padding: 0;
        }
    }
    
    .task-record-search {
    
        text-align: right; 
        
        .clear-message {
        
            display: inline-block;
            padding-bottom: 17px;
            padding-top: 17px;
            padding-right: 15px;
            
            a {
                color: #777;
                
                &:hover {
                    color: #333;
                    text-decoration: none; 
                }
            }
        
            .btn {
                border: 0;
                background-color: transparent;
                margin-top: -2px;
                padding: 0;
            }
            
            .icon-monospaced {
                height: 18px;
                line-height: 18px;
                width: 18px;
            }  
            
            .lexicon-icon {
                width: 16px;
                height: 16px;
                padding: 3px;
                margin-right: 3px;
                color: #fff;
                text-align: center;
                background-color: #777;
                border-radius: 3px;  
                
                &:hover {
                    background-color: #333;
                }          
            }     
        }
    
        fieldset {
            display: inline;
            vertical-align: top;            
        }
        
        .form-group {
            margin-right: 10px;
        }
        
        .form-group-inline {
            vertical-align: top;
        }
        
        .lfr-input-date {
            .form-control {
                width: 100px;
            }
        }
        
        .toggler-content-wrapper {
            text-align: left; 
        }
    }
    
    .toolbar-container {
    
        margin: 8px 0;
        
        a {
            &.dropdown-toggle {
                padding: 6px 8px 8px;           
            }
        }
    
        li {
            display: inline-block; 
        }
    }
}