/**
 * main.scss: css specific to the timetracker-portlet.
 *
 * Created:     2013-10-09 22:44 by Christian Berndt
 * Modified:    2017-03-25 00:29 by Christian Berndt
 * Version:     1.1.4
 * 
 */
@import "bourbon";
@import "mixins";


.portlet-timetracker {
	
	.btn {
		a {
			color: white; 		
		}
	}
    
    .clear-btn {
        margin: 8px 0 8px 8px;
    }
    
    .import {
        
        .button-holder {
            display: inline-block; 
        }
    }
    
    .toolbar-container {
    
        margin: 8px 0;
        
        a {
            &.dropdown-toggle {
                padding: 6px 8px 8px;           
            }
        }
    
        li {
            display: inline-block; 
        }
    }
}