/**
 * main.scss: css specific to the timetracker-portlet.
 *
 * Created:     2013-10-09 22:44 by Christian Berndt
 * Modified:    2017-03-31 19:23 by Christian Berndt
 * Version:     1.1.7
 * 
 */
@import "bourbon";
@import "mixins";
    
.item-remove {
    .taglib-text-icon {    
        &:before {
            content: "\f00d"; 
            font-family: 'fontawesome-alloy';
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            *margin-right: .3em;
            margin-right: .4em;
            speak: none;
            text-decoration: inherit;
            text-transform: none;
        }
    }
}

.portlet-timetracker {
	
	.btn {
		a {
			color: white; 		
		}
	}
    
    .clear-btn {
        margin: 8px 0 8px 8px;
    }
    
    .from-until {
        
        .control-label {
            display: block; 
        }
    
        .lfr-input-time {
            display: block;
            float: left; 
            width: 50%; 
        }    
    }
    
    .import {
        
        .button-holder {
            display: inline-block; 
        }
    }
    
    .toolbar-container {
    
        margin: 8px 0;
        
        a {
            &.dropdown-toggle {
                padding: 6px 8px 8px;           
            }
        }
    
        li {
            display: inline-block; 
        }
    }
}